{% extends 'base.html'%}
{% load widget_tweaks %}

{% block content %}
      <h2>Maqola yozish</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
   
    <div class="mb-3">
      <label for="exampleinputEmail1" class="form-label">Sarlavha</label>
      {% render_field form.title type="text" class="form-control id="exampleInputEmail1 aria-describedby="EmailHelp" %}
      </div> 

      <div class="mb-3">
      <label for="exampleinputEmail1" class="form-label">Rasmi</label>
      {% render_field form.image class="form-control id="exampleInputEmail1 aria-describedby="EmailHelp" %}
      </div>

      <div class="mb-3">
      <label for="exampleinputEmail1" class="form-label">Content</label>
      {% render_field form.content type="text" class="form-control id="exampleInputEmail1 aria-describedby="EmailHelp" %}
      </div> 

      <div class="mb-3">
      <label for="exampleinputEmail1" class="form-label">Category</label>
      {% render_field form.category type="text" class="form-control id="exampleInputEmail1 aria-describedby="EmailHelp" %}
      </div>

      <div class="mb-3">
      <label for="exampleinputEmail1" class="form-label">Tags</label>
      {% render_field form.tags type="text" class="form-control id="exampleInputEmail1 aria-describedby="EmailHelp" %}
       </div> 

  <button type="submit " class="btn btn-primary">e'lon qilish</button>
</form>

<!-- <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>

      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->
{% endblock %}


2 son berilgan bu solarning yigindisinng ayirmasiga nisbati kvadrati topilsn yani a+b/a-b

3 soniini ozaro kopaytmasi va ygindisin topuvchi dastur tuzing 